/*-----------------------------------------------------------------
							FONTS			
-----------------------------------------------------------------*/
*{
	font-family: 'Open Sans', sans-serif!important;
}

/*-----------------------------------------------------------------
							SYSTEM			
-----------------------------------------------------------------*/
body{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.box{
	width:1000px;
	margin:0 auto;
}


/*-----------------------------------------------------------------
							HEADER			
-----------------------------------------------------------------*/
#header{
	float:left;
	width:100%;
	height:80px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.3);
}

/*----------------------------logo-------------------------------*/
#logo{
	float:left;
	width:300px;
}
#logo a {
	text-decoration:none;
	color:rgba(0,0,0,0.7);
}
#logo h1{
	font-size:42px;
	font-weight:300;
	line-height:50px;
	margin:15px 0px 15px 55px;
	padding:0px;
}
#logo h1 span{
	color:rgba(54,136,192,1);
}

/*--------------------------Language-----------------------------*/
#language{
	float:left;
	width:90px;
}

#language ul {
	float:left;
	width:90px;
	height:60px;
	margin: 10px 0px;
	padding: 0px;
	border-right:1px solid rgba(0,0,0,0.15);
}
#language ul  li {
	float:right;
	width:27px;
	margin-top:10px;
	list-style-type:none;
}
#language ul  li a {
	font-weight:600;
	color:rgba(0,0,0,0.5);
	text-decoration:none;
}
#language ul  li a:hover{
	color:rgba(194,91,16,1);
}
#language ul  li.active a {
	color:rgba(54,136,192,1);
}

/*------------------------Billing IN-----------------------------*/
#billingin{
	float:left;
	width:600px;
}
#bf{	
	float:left;
	width:100%;
	height:50px;
	margin:15px 0px;
}
/* Text */
#bftxt{
	float:left;
	width:120px;
	height:50px
}
#bftxt p{
	margin-top:8px;
	font-size:11px;
	text-align:right;
	font-weight:600;
	color:rgba(0,0,0,0.5);
	
}
/* Image */
#bfimg{
	float:left;
	width:80px;
	height:50px
}
#bfimg img{
	width:40px;
	margin:0px 20px;
}	
/* Form */
#bfin{
	float:left;
	width:400px;
	height:50px
}

#bfin input{
	float:left;
	width:145px;
	height:30px;
	margin:10px 20px 10px 0px;
	padding-left:10px;
	font-size:12px;
	color:rgba(0,0,0,0.7);
	font-weight:300;
	background:none;
	outline:none!important;
	
	border:1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;		
}

#bfin input.submit {
	width:55px;
	margin:10px 0px;
	padding-left:5px;
	cursor:pointer!important;
} 
#bfin input.submit:hover{
	color:rgba(255,255,255,1);
	background:rgba(54,136,192,1);
	border:1px solid rgba(255,255,255,1);
}

 
/*-----------------------------------------------------------------
							Left			
-----------------------------------------------------------------*/
#left{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
}
#contacts, #menubox, #mapbox {
	float:left;
	width:260px;
	margin:0px 30px;
	padding:0px;
}

/*-------------------------- CONTACTS ---------------------------*/
#contacts table{
	float:left;
	width:230px;
	margin-top:30px;
	margin-left:15px;
}
#contacts h6{
	color:rgba(0,0,0,0.7);
	margin:0px; 
	padding:0px;
}
#contacts h5 {
	color:rgba(0,0,0,0.7);
	margin:0px; 
	padding:0px;
}
#contacts h4 {
	color:rgba(0,0,0,1);
	margin:0px; 
	padding:0px;
}
#contacts h3 {
	font-size:22px;
	color:rgba(0,0,0,1);
	margin:0px; 
	padding:0px;
}
#contacts a {
	display:block;
	width:65px;
	font-size:10px;
	color:rgba(255,255,255,1);
	background:rgba(48,58,70,1);
	padding:3px 10px;
	text-decoration:none;
	margin:10px 0px 0px 43px;
}
#contacts a:hover {
	background:rgba(194,91,16,1);
}
/*--------------------------- MENU ------------------------------*/
#menubox{
	margin-top:60px;
	background:rgba(54,136,192,1);	
	
    -webkit-transform: skew(0deg,-20deg);
       -moz-transform: skew(0deg,-20deg);
         -o-transform: skew(0deg,-20deg);
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

}
#degree {
	padding:50px 0px;


    -webkit-transform: skew(0deg,20deg);
       -moz-transform: skew(0deg,20deg);
         -o-transform: skew(0deg,20deg);
}
#menubox  .forhome {
	width:200px;
	margin:15px 30px 0px 30px;
	border-top:1px solid rgba(255,255,255,1);
	border-bottom:1px solid rgba(255,255,255,1);
}
#menubox  .forhomea  {
	display:block;
	width:100px;
	color:rgba(255,255,255,1);
	text-align:center;
	text-decoration:none;	
	margin:-12px 50px 0px 50px;
	background:rgba(54,136,192,1);	

}
#menubox  .foroffice {
	width:200px;
	margin:0px 30px;
}
#menubox  .forofficea  {
	display:block;
	color:rgba(255,255,255,1);
	text-align:left;
	text-decoration:none;	
	margin: 10px 0px 0px 30px;
}
#menubox  .forhomea:hover, #menubox  .forofficea:hover {
	color:rgba(0,0,0,1);
	font-weight:600;
}


/* for all UL */
#menubox ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

#menubox ul li {
	list-style-type:none;
}
#menubox ul li a {
	color:rgba(255,255,255,1);
	text-decoration:none;
}
#menubox ul li a:hover{
	color:rgba(0,0,0,1);
	font-weight:600;
}
/* Level 1 */
#menubox ul.level1 {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 10px;
}
#menubox ul.level1 li a  {
	font-size:14px;
	line-height:24px;
}

/* Level2 */
#menubox ul.level2 {
	-webkit-margin-before: 0.3em;
	-webkit-margin-after: 1.5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 20px;
}

#menubox ul.level2 li a {
	font-size:12px;
	line-height:18px;
}

/*---------------------------- MAP-------------------------------*/









/*-----------------------------------------------------------------
							Main			
-----------------------------------------------------------------*/
#main { 
	float:left;
	width:700px;
}


/*------------------------- SLIDER ------------------------------*/
#slider{
	float:left;
	width:585px;
	height:200px;
	margin:0px 25px 0px 90px;
}
#slider img{
	float:left;
	height:160px;
	margin:30px 20px 0px 0px;
} 
#slider h3 {
	margin-top:70px;
}
#slider  a{
	color:rgba(0,0,0,1);
	font-size:18px;
	text-align:justify;
	text-decoration:none;
}
#slider h3 b{
	color:rgba(54,136,192,1);
}
#slider ul {
	float:right;
	height:10px;
	margin:0px;
	padding:0px;
}
#slider ul  li  {
	float:left;
	width:10px;
	height:10px;
	margin:0px 3px;
	padding:0px;
}
#slider ul  li  a{
	float:left;
	width:10px;
	height:10px;
	margin:0px;
	padding:0px;
	text-indent:-9999px;
	background:url('/images/point.png') center top no-repeat;
	opacity:0.66;
}
#slider ul  li.active a{
	opacity:1;
} 

/*------------------------- TARIFF ------------------------------*/
#tariff{ 
	float:left;
	width:585px;
	margin:45px 25px 0px 90px;
	
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.3);
}

/* Black Tariff Box */
.tbox{
	float:left;
	width:195px;
	height:355px;
}
.tbox:hover{
	cursor:pointer;
}
.theader{	
	float:left;
	width:193px;
	height:115px;
	background:rgba(48,58,70,1);
	border-left:1px solid rgba(0,0,0,0.1);
	border-right:1px solid rgba(0,0,0,0.1);
}
.theader h2{
	text-align:center;
	font-size:24px;
	font-weight:300;
	color:rgba(255,255,255,1);

}
.tcircle{
	float:left;
	width:80px;
	height:80px;
	margin:-50px 0px 0px 50px;
	
	background:rgba(48,58,70,1);
	border:5px solid rgba(54,136,192,1);	
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	
}
.tcircle h3 {
	text-align:center;
	font-size:30px;
	font-weight:300;
	color:rgba(255,255,255,1);
	margin:15px 0px 0px 0px;
	padding:0px;
}
.tcircle h5 {
	text-align:center;
	font-size:10px;
	font-weight:300;
	color:rgba(255,255,255,1);
	margin:0px;
	padding:0px;
}

.tcont{
	float:left;
	width:193px;
	height:200px;
	margin-top:-40px;
	padding-top:40px;
	border-left:1px solid rgba(0,0,0,0.1);
	border-right:1px solid rgba(0,0,0,0.1);
}
.tcont table{
	width:100%;
	margin:35px 0px;
	border:none;
	border-collapse: collapse;
}
.tcont table td{
	height:35px;
	text-align:left;
	padding-left:15px;
}
.tprice td{

}
.tprice td b{
	font-size:24px;
	font-weight:300;
	color:rgba(54,136,192,1);
}

.tbonus td{
	background:rgba(0,0,0,0.04);
}
.tbonus td b{
	font-weight:300;
}
.tcont a{
	display:block;
	width:165px;
	margin:0px 15px;
	padding:5px 0px;
	
	text-align:center;
	font-size:18px;
	font-weight:300;
	color:rgba(255,255,255,1);
	background:rgba(48,58,70,1);
	text-decoration:none;
	
}
.tcont a:hover {
	background:rgba(54,136,192,1);
}

/* Blue Tariff Box */

#tariff div.active{
	background:rgba(54,136,192,1);
	
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.active .theader{	
	background:rgba(54,136,192,1);
}

.active .tcircle{
	z-index:99;
	position:relative;
	background:rgba(48,58,70,1);
	border:5px solid rgba(107,170,214,1);	
}

.active .tcont{
	z-index:0;
	position:relative;
	background:rgba(53,152,219,1);
}

.active .tprice td b{
	font-size:24px;
	font-weight:300;
	color:rgba(255,255,255,1);
}

.active .tcont a:hover {
	color:rgba(0,0,0,1);
	background:rgba(194,91,16,1);
}




/*------------------------- NEWS ------------------------------*/
#news {
	float:left;
	width:585px;
	margin:45px 25px 0px 90px;
}

.nbox{
	float:left;
	width:100%;
	margin:0px 0px 30px 0px;
	
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.3);
}
/* img */
.nimg {
	float:left;
	width:200px;
}
.nimg a{
	display:block;
	float:left;
	width:100%;
}
.nimg img{
	width:170px;
	height:170px;
	margin:10px;
} 
/* txt */
.ntxt {
	float:left;
	width:365px;
}
/* header */
.ntxt h3{
	float:left;
	width:100%;
	margin:10px 0px;
}
.ntxt h3 a {
	color:rgba(0,0,0,1);
	text-decoration:none;
}
/* introtext */
p.introtext {
	font-size:12px;
	color:rgba(0,0,0,0.7);
	text-align:justify;
} 
p.introtext b{
	color:rgba(0,0,0,1);
}
/* readmore */
a.readmore{	
	display:block;
	float:right;
	font-size:18px;
	color:rgba(255,255,255,1);
	background:rgba(48,58,70,1);
	padding:3px 10px;
	text-decoration:none;
	margin:0px 15px 15px 0px;
	padding:7px 20px;
	}
a.readmore:hover {
	background: rgba(54,136,192,1);
}


/*-----------------------------------------------------------------
							FOOTER			
-----------------------------------------------------------------*/
#footer{
	float:left;
	width:100%;
	height:80px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.3);
}
#fleft, #fright {
	float:left;
	width:50%;
}


#fleft table{
	float:left;
	width:410px;
	margin:10px 0px 0px 20px;
}
#fright table{
	float:right;
	width:430px;
	margin:15px 20px 0px 0px;
}

#footer h6{
	color:rgba(0,0,0,0.7);
	margin:0px; 
	padding:0px;
}
#footer h5 {
	color:rgba(0,0,0,0.7);
	margin:0px; 
	padding:0px;
}
#footer h4 {
	font-size:22px;
	color:rgba(0,0,0,1);
	margin:0px; 
	padding:0px;
}
#footer h3 {
	font-size:22px;
	color:rgba(0,0,0,1);
	margin:0px; 
	padding:0px;
}
#footer a {
	display:block;
	width:65px;
	font-size:10px;
	color:rgba(255,255,255,1);
	background:rgba(48,58,70,1);
	padding:3px 10px;
	text-decoration:none;
	margin:10px 0px 0px 43px;
}
#footer a:hover {
	background:rgba(194,91,16,1);
}

/*-----------------------------------------------------------------
							Call Back							
-----------------------------------------------------------------*/
#clallback{
	padding:10px 0px 20px 0px;
}
#clallback h1 {
	font-size:14px;
	line-height:25px;
	font-weight:300;
	width:210px;
	margin:15px 0px;
	padding: 0px 0px 0px 10px;
	color:rgba(255,255,255,1);
	border-top: 1px solid rgba(255,255,255,1);
	border-bottom: 1px solid rgba(255,255,255,1);
}
.wide{
	float:left;
	width:100%;
}
.dark{
	background:rgba(48,58,70,1);
}

/*Call back IMG  */
#cbimg{
	float:left;
	width:180px;
}
#cbimg img {
	width:92px;
	margin:80px 30px; 
}


/*Helper Department*/
#helpdep{
	float:left;
	width:340px;
	padding: 0px 10px;
}
#helpdep p{
	width:320px;
	font-size:13px;
	text-align:justify;
	color:rgba(255,255,255,0.5);
}
#helpdep table{
	float:left;
	clear:both;
	width:100%;
	margin-top:30px;
	margin-bottom:10px;
}
#helpdep table td:first-child {
	width:25px;
}
#helpdep h6{
	color:rgba(255,255,255,0.7);
	font-weight:300;
	margin:0px; 
	padding:0px;
}
#helpdep h5 {
	color:rgba(255,255,255,0.7);
	font-weight:300;
	margin:0px; 
	padding:0px;
}
#helpdep h4 {
	color:rgba(255,255,255,1);
	font-weight:300;
	margin:0px; 
	padding:0px;
}
#helpdep h3 {
	font-size:22px;
	color:rgba(255,255,255,1);
	font-weight:300;
	margin:0px; 
	padding:0px;
}



/* Question */
#question{
	float:left;
	width:250px;
	margin:0px 15px;
}
#question p{
	font-size:12px;
	color:rgba(255,255,255,1);
	margin:0px;
	padding:0px 25px;
}
#question input{
	float:left;
	width:220px;
	height:27px;
	line-height:27px;
	margin:2px 0px 10px 0px;
	padding-left:10px;
	font-size:12px;
	color:rgba(0,0,0,0.7);
	font-weight:300;
	background:rgba(255,255,255,1);
	outline:none!important;
	
	border:1px solid rgba(48,58,70,1);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;		
}
#question textarea{
	float:left;
	width:220px;
	height:80px;
	margin:2px 0px 10px 0px;
	padding-left:10px;
	font-size:12px;
	color:rgba(0,0,0,0.7);
	font-weight:300;
	background:rgba(255,255,255,1);
	outline:none!important;
	
	border:1px solid rgba(48,58,70,1);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;		
}

#question input.submit {
	width:110px;
	height:30px;
	margin:10px 0px;
	padding-left:10px;
	cursor:pointer!important;
} 
#question input.submit:hover{
	color:rgba(255,255,255,1);
	background:rgba(54,136,192,1);
	border:1px solid rgba(48,58,70,1);
}




